body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji","Microsoft JhengHei";
}
.bg-darkgreen {
	background-color:#B3C076
}
.bg-gray {
	background-color:#7B7D73
}

